{% extends 'base.html.twig' %}


{% block body%}
<h1>{{ component }}</h1>

<h3>Default alert</h3>
{{ component('alert') }}

<h3>Custom alert</h3>
{{ component('alert', { 
      'type': 'success',
      'content': 'Message alert',
    }) 
}}


<h3>Custom alert with dismiss</h3>
{{ component('alert', { 
      'type': 'danger',
      'content': 'Message alert',
      'dismiss': true
  }) 
}}

{% endblock %}
