{% extends 'base.html.twig' %}


{% block body%}
<h1>{{ component }}</h1>

<h3>Standard example</h3>
{{ component('breadcrumb', { 
    'items': 
    [
        {
        "content": "An item",
        "url": "#",
        },
        {
        "content": "Second item",
        "url": "#",
        "active": true,
        },
        {
        "content": "Third item",
        "url": "#",
        },
        {
        "content": "Forth item",
        "url": "#",
        },
    ],
  }
) 
}}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item"><a href="#">Library</a></li>
    <li class="breadcrumb-item active" aria-current="page">Data</li>
  </ol>
</nav>

{% endblock %}
