{% extends 'base.html.twig' %}

{% block body%}

<h1>{{ component }}</h1>

<h2>Default</h2>
{{ component('pagination', { 
    'size': 'sm',
    'alignment': 'start',
    'maxButtonCount': '6',
    'items': 
    [
        {
        "label": "Page 1",
        },
        {
        "label": "Page 2",
        },
        {
        "label": "Page 3",
        },
        {
        "label": "Page 4",
        },
        {
        "label": "Page 5",
        },
        {
        "label": "Page 6",
        },
        {
        "label": "Page 7",
        },
        {
        "label": "Page 8",
        },
        {
        "label": "Page 9",
        },
        {
        "label": "Page 10",
        },
        {
        "label": "Page 11",
        },
        {
        "label": "Page 12",
        },
        {
        "label": "Page 13",
        },
        {
        "label": "Page 14",
        },
        {
        "label": "Page 15",
        },
        {
        "label": "Page 16",
        },
        {
        "label": "Page 17",
        },
        {
        "label": "Page 18",
        },
        {
        "label": "Page 19",
        },
        {
        "label": "Page 20",
        },
        
    ],
    'options': {
    }
    }
) 
}}