{% extends 'base.html.twig' %}

{% block body%}
<h1>{{ component }}</h1>

<h3>Default toast</h3>
{{ component('toast') }}

<div data-controller="button_toast">
<button data-action="update-map@window->map#updateHotspotLocation">Show Toast</button>
</div>

{% endblock %}
