<ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
    {% for component in components %}
        <li class="nav-item">
            <a href="/bs5/{{ component.id }}" class="nav-link align-middle px-0">
                <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline text-light">{{ component.name }}</span>
            </a>
        </li>
    {% endfor %}
</ul>